<div class="card">
  <div class="card-body">
    <form asp-controller="BuyUCosy" asp-action="BuyUCosy" method="post" id="CheckoutForm-TMP" class="CheckoutForm-TMP">
  <partial name="_Buy" />
</form>
  </div>
</div>
