
<div class="row">

  <div class="col">
    <div class="card">
      <h5 class="card-header">@ViewBag.About</h5>
      <div class="card-body">
        <h5 class="card-title">Dummy Heading</h5>
        <p class="card-text">This is a dummy paragraph to fill the space.</p>
        <p class="card-text">More dummy text More dummy text More dummy text More dummy text More dummy text More dummy text More dummy text </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <h5 class="card-header">More Info</h5>
      <div class="card-body">
        <h5 class="card-title">An Heading</h5>
        <p class="card-text">This is a dummy paragraph to fill the space.</p>
        <p class="card-text">More dummy text More dummy text More dummy text More dummy text More dummy text More dummy text More dummy text </p>
      </div>
    </div>
  </div>

</div>