
<hr class="LineDefault" />

<div class="container-fluid MAK">
  <div class="row BannerD pt-4 pb-2">
    <div class="col">
      <h4>Head Office</h4>
        <p>Some Place Way</p>
        <p>Some City</p>
        <p>Some Postcode</p>
        <p>Dummy Text</p>
    </div>
    <div class="col">
      <h4>UK Contact Number</h4>
        <p>(+00) 0000 000 0000</p>
        <p>Monday - Friday 00am to 00pm.</p>
        <p>Saturday 00am - 00pm</p>
        <p>Dummy Text</p>
    </div>
    <div class="col">
      <h4>Main Links</h4>
      <p>Dummy Text</p>
      <p>Dummy Text</p>
      <p>Dummy Text</p>
      <p>Dummy Text</p>
    </div>
    <div class="col">
      <h4>Information</h4>
        <p>Dummy Text</p>
        <p>Dummy Text</p>
        <p>Dummy Text</p>
        <p>Dummy Text</p>
    </div>
  </div>

  <footer class="row ThemeBackground pt-4 pb-2">
    <div class="col">
      <p class="text-center"><a href="/" class="ThemeColor">Home</a></p>
    </div>

    <div class="col">
      <p class="ThemeColor text-center">&copy; @DateTime.Now.Year eShop</p>
    </div>
  </footer>
</div>
