
@*<h4>Choice of 4 Colours</h4>*@

@*<p>A random colour will be selected from the list if you do not select a colour.</p>

<p>Colours Representative Only</p>*@

@*<h5 class="MarginTop_X1  MarginBottom_X1">Choice of 4 Colours</h5>*@

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="row">
      <div class="col-xs-6 col-sm-6">
        <div id="UCosyColourBlack">
          <p>Black</p>
        </div>
      </div>

      <div class="col-xs-6 col-sm-6">
        <div id="UCosyColourSteel">
          <p>Steel</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="row">
      <div class="col-xs-6 col-sm-6">
        <div id="UCosyColourNavy">
          <p>Navy</p>
        </div>
      </div>

      <div class="col-xs-6 col-sm-6">
        <div id="UCosyColourClear">
          <p>Clear</p>
        </div>
      </div>
    </div>
  </div>
</div>
