<div class="row">
  <div class="col">
    <div class="card">
      <h5 class="card-header">@ViewBag.ProductA</h5>
      <div class="card-body">
        <h5 class="card-title">Dummy Heading</h5>
        <p class="card-text">This is a dummy paragraph.</p>
        <a asp-area="" asp-controller="CheckoutUClampSolo" asp-action="CheckoutForUClampSolo" class="btn btn-primary">Shop</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <h5 class="card-header">@ViewBag.ProductB</h5>
      <div class="card-body">
        <h5 class="card-title">Dummy Heading</h5>
        <p class="card-text">This is a dummy paragraph.</p>
        <a asp-area="" asp-controller="CheckoutUClampBundle" asp-action="CheckoutForUClampBundle" class="btn btn-primary">Shop</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <h5 class="card-header">@ViewBag.ProductC</h5>
      <div class="card-body">
        <h5 class="card-title">Dummy Heading</h5>
        <p class="card-text">This is a dummy paragraph.</p>
        <a asp-area="" asp-controller="CheckoutUCosy" asp-action="CheckoutForUCosy" class="btn btn-primary">Shop</a>
      </div>
    </div>
  </div>
</div>
